<!-- app/views/pages/welcome.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <h1>Alastair Hewitt</h1>
    </header>

    <main>
      <h2>Welcome to My Portfolio</h2>
      <p>Full Stack Engineer with experience in building RESTful Api's.</p>
      <a href="#" class="btn">View my Work</a>
    </main>

    <footer>
      <a href="https://github.com/alastair-j-hewitt" target="_blank">GitHub</a>
      <a href="https://linkedin.com/in/alastair-j-hewitt-31207943" target="_blank">LinkedIn</a>
      <p>&copy; 2024 Alastair Hewitt</p>
    </footer>
  </body>
</html>
